*{
    box-sizing: border-box;
}

body {
    background-color: lightcoral;
    color: #fff;
}

button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.app H1{
    color: white;
    margin-left: 3vw;
    font-size: 3vw;
}

.app header button {
    color: white;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 3vw;
    font-size: 2vw;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    position: relative;
    margin-top: 2vw;
}



header{
    display: flex;
    justify-content: space-between;
    height: 5vw;
}

.todo-list {
    margin: 2vw;

    display: flex;
    flex-direction: column;
    justify-content: start;

}

.item {
    margin: 1vw 0;
    border-radius: 1vw;
    background-color: lightblue;


    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item input[type="checkbox"] {
    margin-left: 3vw;
}

.item input[type="text"]{
    appearance: none;
    background: none;
    border: none;
    outline: none;
    flex-grow: 1;
    margin: 3vw 3vw;
    font-size: 2vw;
}

.item input[type="text"]:not(:disabled){
    border-bottom: 2px solid white;
}

.item.complete {
    opacity: 0.7;
}

.item.complete input[type="text"] {
    text-decoration: line-through;
}

.actions {
    margin-right: 2vw;
}

.actions button {
    color: crimson;
    opacity: 0.8;
}

.actions button:hover{
    opacity: 1;
}